<div ng-controller="BorrarGrabacionController as ctrl" ng-cloak="">
  <md-content class="md-padding" >
    <form ng-submit="$event.preventDefault()">
      <p>Escriba el nombre de la grabación, para que se muestre información</p>
      <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Seleccione la grabación que quiera borrar">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No se ha encontrado ninguna grabación que coincida con "{{ctrl.searchText}}".
          <!--<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>-->
        </md-not-found>
      </md-autocomplete>
      <br>
    </form>
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="" layout-align="center" ng-show="algoSeleccionado">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{grabacionSeleccionada.display}} </span>
            <span class="md-subhead">Fecha grabación: {{grabacionSeleccionada.fecha}}</span>
            <span class="md-subhead">Paciente: {{grabacionSeleccionada.paciente}}</span>
            <span class="md-subhead">Fichero: {{grabacionSeleccionada.grabacion}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="exportarCSV()" class="md-raised md-primary">Exportar como CSV</md-button>
          <!--<md-button class="md-raised md-primary">Exportar como JSON</md-button>-->
          <md-button ng-click="borrarGrabacion()" class="md-raised md-primary">Eliminar grabación</md-button>
        </md-card-actions>

      </md-card>
  </md-content>
</div>
