<md-content ng-hide="!user" layout="column" flex>
  <div ng-hide="!configuracion" id="configuracion" class="check-element animate-show-hide">
    <fieldset class="demo-fieldset" style="  border-style: solid; border-width: 1px; height: 100%; width: auto;">
      <legend class="demo-legend" style="color: #3F51B5;"><b>Configuración</b></legend>
      <div layout="row" layout-wrap="" flex="" layout-align="center">
        <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
          <b><span ng-if="isChecked()">De-</span>Seleccionar todas</b>
        </md-checkbox>

        <md-checkbox ng-checked="exists(columna, seleccionado)" ng-click="toggle(columna, seleccionado)" ng-repeat="columna in tabla">
          {{ columna }}
        </md-checkbox>
      </div>
    </fieldset>
  </div>
  <br>
  <md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
      <div class="md-toolbar-tools">
        <span>Grabaciones</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="filter.show = true">
          <md-tooltip>Filtrar grabaciones</md-tooltip>
          <md-icon>filter_list</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="loadStuff()">
          <md-tooltip>Recargar grabaciones</md-tooltip>
          <md-icon>refresh</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="addItem($event)">
          <md-tooltip>Añadir grabación</md-tooltip>
          <md-icon>add</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="configuracion = !configuracion">
          <md-tooltip>Configuración</md-tooltip>
          <md-icon>settings</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
      <div class="md-toolbar-tools">
        <md-icon>search</md-icon>
        <form flex name="filter.form">
          <input type="text" ng-model="query.filter" ng-model-options="filter.options"
                 placeholder="Escriba el id de la grabación a buscar">
        </form>
        <md-button class="md-icon-button" ng-click="removeFilter()" title="Restaurar filtro">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        {{selected.length}} {{selected.length > 1 ? 'grabaciones seleccionadas' : 'grabación seleccionada'}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="borrarGrabaciones($event)"
                   title="Borrar {{selected.length > 1 ? 'grabaciones seleccionadas' : 'grabación seleccionada'}}">
          <md-icon style="color: white">delete</md-icon>
        </md-button>
      </div>

    </md-toolbar>

    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected"
             md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="cargarGrabaciones">
        <tr md-row>
          <th md-column md-order-by="id"><span class="cabecera">Id</span></th>
          <th md-column md-date md-order-by="fechaGrabacion.ts" ng-show="exists('Fecha grabación', seleccionado)"><span class="cabecera">Fecha Grabación</span></th>
          <th md-column md-order-by="lugar" ng-show="exists('Lugar', seleccionado)"><span class="cabecera">Lugar</span></th>
          <th md-column md-text md-order-by="paciente" ng-show="exists('Paciente', seleccionado)"><span class="cabecera">Paciente</span></th>
          <th md-column md-numeric md-order-by="edadPaciente" ng-show="exists('Edad', seleccionado)"><span class="cabecera">Edad</span></th>
          <th md-column md-numeric md-order-by="edadGrabacion" ng-show="exists('Edad grabación', seleccionado)"><span class="cabecera">Edad grabación</span></th>
          <th md-column ng-show="exists('Grabación', seleccionado)"><span class="cabecera">Grabación</span></th>
          <th md-column md-text md-order-by="grabacion" ng-show="exists('CSV', seleccionado)"><span class="cabecera">CSV</span></th>
          <th md-column md-text md-order-by="video" ng-show="exists('Video', seleccionado)"><span class="cabecera">Video</span></th>
          <th md-column ng-show="exists('Atributos extra', seleccionado)"><span class="cabecera">Atributos extra</span></th>
          <th md-column ng-show="exists('Notas', seleccionado)"><span class="cabecera">Notas</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="grabacion" md-on-select="logItem" md-auto-select="options.autoSelect"
            ng-repeat="grabacion in grabaciones.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell ng-click="editarCampo($event, grabacion, 'identificador')" ng-class="{'md-placeholder': !grabacion.id}"><span class="dato">{{grabacion.id}}</span></td>
          <td md-cell ng-click="editarFecha($event, grabacion)" ng-class="{'md-placeholder': !grabacion.fechaGrabacion}" ng-show="exists('Fecha grabación', seleccionado)"><span class="dato">{{grabacion.fechaGrabacion.value || "Añadir fecha grabación"}}</span></td>
          <td md-cell ng-click="editarCampo($event, grabacion, 'lugar')" ng-class="{'md-placeholder': !grabacion.lugar}" ng-show="exists('Lugar', seleccionado)"><span class="dato">{{grabacion.lugar}}</span></td>
          <td md-cell ng-show="exists('Paciente', seleccionado)">
            <md-select ng-model="paciente" ng-change="actualizarPaciente(paciente, grabacion)"
                       placeholder="Buscar un paciente" class="dato">
              <md-select-header class="selectdemoSelectHeader">
                <input ng-model="searchTerm" type="search" placeholder="Buscar un paciente..."
                       onkeydown="mdSelectOnKeyDownOverride(event)" class="searchbox">
              </md-select-header>
              <md-option ng-value="paciente" ng-repeat="paciente in pacientes | filter:searchTerm"
                         ng-selected="{{ (paciente.id) === grabacion.paciente ? 'true' : 'false' }}">
                <span class="dato">{{paciente.id}}</span>
              </md-option>
              <md-option ng-value="none"><span class="dato">Sin Asignar</span></md-option>
            </md-select>
          </td>
          <td md-cell ng-show="exists('Edad', seleccionado)">
            <span class="dato">{{grabacion.edadPaciente}}</span>
          </td>
          <td md-cell ng-show="exists('Edad grabación', seleccionado)">
            <span class="dato">{{grabacion.edadGrabacion}}</span>
          </td>
          <td md-cell ng-show="exists('Grabación', seleccionado)">
            <md-button class="md-icon-button" ng-click="verEsqueleto($event,grabacion)"
                       ng-show="grabacion.grabacion">
              <md-tooltip>Ver esqueleto</md-tooltip>
              <md-icon>play_circle_filled_white</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="previsualizarCSV($event,grabacion)"
                       ng-show="grabacion.grabacion">
              <md-tooltip>Previsualizar grabación</md-tooltip>
              <md-icon>visibility</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="exportarCSV(grabacion.grabacion)" ng-show="grabacion.grabacion">
              <md-tooltip>Descargar grabación</md-tooltip>
              <md-icon>cloud_download</md-icon>
            </md-button>
            <md-button id="container" class="md-icon-button" ng-click="exportarJSON(grabacion.grabacion)" ng-show="grabacion.grabacion">
              <md-tooltip>Descargar JSON</md-tooltip>
              <md-icon>cloud_download</md-icon>
            </md-button>
          </td>
          <td md-cell ng-click="editarCSV($event, grabacion)" ng-class="{'md-placeholder': !grabacion.grabacion}" ng-show="exists('CSV', seleccionado)"><span class="dato">{{grabacion.grabacionMostrar}}</span></td>
          <td md-cell ng-click="editarVideo($event, grabacion)" ng-class="{'md-placeholder': !grabacion.video}" ng-show="exists('Video', seleccionado)"><span class="dato">{{grabacion.videoMostrar}}</span></td>

          <td md-cell ng-show="exists('Atributos extra', seleccionado)">
            <md-button ng-click="verAtributosExtra($event,grabacion)" ng-show="grabacion.extra"
                       style="background: lightgrey;">
              <md-tooltip>Ver información extra de {{grabacion.id}}</md-tooltip>
              Ver
            </md-button>
            <md-button ng-click="verAtributosExtra($event,grabacion)" ng-hide="grabacion.extra"
                       style="background: lightgrey;">
              <md-tooltip>Añadir información extra a {{grabacion.id}}</md-tooltip>
              Añadir
            </md-button>
          </td>
          <td md-cell ng-show="exists('Notas', seleccionado)">
            <md-button ng-click="gestionarNotas($event,grabacion)" ng-show="grabacion.notasVideo"
                       style="background: lightgrey;">
              <md-tooltip>Ver notas</md-tooltip>
              Ver
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination class="pieTabla " md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="query.limit"
                         md-limit-options="limitOptions" md-page="query.page" md-total="{{grabaciones.count}}"
                         md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"
                         md-on-paginate="cargarGrabaciones"></md-table-pagination>
  </md-card>

  <!--<canvas id="canvas" width="500" height="750" style="border:1px solid #d3d3d3;"></canvas>-->

  <script type="text/ng-template" id="grabacion-dialog.template.html">
    <md-dialog id="grabacion-dialog" aria-label="CrearGrabacion">
      <form name="formGrabacion" ng-submit="crearGrabacion()">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Crear grabación</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close(false)">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content style="max-width:800px;max-height:810px; width: auto; height: auto;">
          <div class="md-dialog-content">
            <div layout="row">
              <md-button class="md-fab md-mini" aria-label="Añadir campo" ng-click="crearCampo()"
                         title="Añadir campo extra">
                <md-icon md-svg-src="img/icons/add.svg"></md-icon>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Quitar campo" ng-show="nCampoExtra > 0"
                         ng-click="quitarCampo()" title="Eliminar último campo extra creado">
                <md-icon md-svg-src="img/icons/remove.svg"></md-icon>
              </md-button>
            </div>

            <div layout="row">
              <md-input-container flex="50">
                <label>Identificador</label>
                <input required name="id" ng-model="grabacion.id">
                <div ng-messages="formGrabacion.id.$error">
                  <div ng-message="required">Campo requerido.</div>
                </div>
              </md-input-container>

              <md-input-container flex="50">
                <label>Lugar</label>
                <input required name="lugar" ng-model="grabacion.lugar" autocomplete="address-level2">
                <div ng-messages="formGrabacion.lugar.$error">
                  <div ng-message="required">Campo requerido.</div>
                </div>
              </md-input-container>

            </div>

            <div layout="row" ng-cloak="">
              <md-input-container flex="50">
                <label>F. grabación</label>
                <md-datepicker required name="fecha" ng-model="grabacion.fecha" md-current-view="year"></md-datepicker>
                <div ng-messages="formGrabacion.fecha.$error" ng-show="formGrabacion.fecha.$touched">
                  <div ng-message="valid">Usa el formato DD/MM/AAAA</div>
                </div>
              </md-input-container>

              <md-input-container flex="50">
                <label>Paciente</label>
                <md-select name="paciente" ng-model="grabacion.paciente" md-on-close="limpiarBuscador()"
                           md-on-open="cargarPacientes()" class="selectPacientes">
                  <md-select-header class="selectdemoSelectHeader">
                    <input ng-model="searchTerm" type="search" placeholder="Buscar un paciente..."
                           onkeydown="mdSelectOnKeyDownOverride(event)" class="searchbox">
                  </md-select-header>
                  <md-option ng-value="paciente" ng-repeat="paciente in pacientes | filter:searchTerm" ng-cloak="">
                    {{paciente.id}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <div layout="row" flex="100">
              <aps-upload-file></aps-upload-file>
            </div>
            <div ng-repeat="atributo in numeroAtributos" style="max-height: 95px;" layout="row" flex="100" layout-align="center center">
              <md-input-container flex="50">
                <md-autocomplete required="required" md-no-cache="noCache" md-input-name="atributoExtraNombre{{atributo}}" md-input-id="searchinputMdAutocomplete" md-selected-item="selectedItem[$index]" md-search-text-change="searchTextChange(searchText[$index])" md-search-text="searchText[$index]" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText[$index])" md-item-text="item.display" md-min-length="0" md-floating-label="Atributo extra {{$index + 1 }}">
                  <md-item-template>
                    <span md-highlight-text="searchText[$index]" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
                  <md-not-found ng-hide="extraCreado">
                    <md-button ng-hide="extraCreado" ng-click="crearCampoExtra(atributo)" style="width: 100%; text-align: center;">Crear!</md-button></md-not-found>
                  <div ng-messages="formPaciente['atributoExtraNombre' +atributo].$error" ng-if="formPaciente['atributoExtraNombre' +atributo].$touched">
                    <div ng-message="required">Campo requerido</div>
                  </div>
                </md-autocomplete>
              </md-input-container>
              <md-input-container flex="50">
                <label>Valor atributo extra {{$index + 1}}</label>
                <input name="atributosExtraValor{{$index}}" ng-model="atributosExtraValor[$index]" required>
                <div ng-messages="formPaciente['atributosExtraValor'+$index].$error" ng-show="formPaciente['atributosExtraValor'+$index].$touched">
                  <div ng-message="required">Campo requerido</div>
                </div>
              </md-input-container>
            </div>
            <input type="hidden" ng-model="abc"/>
            <div style="text-align: center;">
              <md-button type="submit" class="md-raised md-primary" ng-disabled="formGrabacion.$invalid">Crear
                grabación
              </md-button>
            </div>
          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>
</md-content>
