<div>
  <h1>Prueba pacientes</h1>

  <md-button class="md-icon-button" ng-click="verVideo()">
    VER
  </md-button>
  <input type="file" accept="video/*" id="input"/>
  <video controls autoplay></video>
  <!--<video layout-fill loop="loop"  autoplay="autoplay" preload="auto" controls>-->
    <!--<source src="https://firebasestorage.googleapis.com/v0/b/pruebaangularmaterial.appspot.com/o/videos%2FBlurred%20Bokeh%20Video%202.mp4?alt=media&token=b25d5961-d463-47b5-b8be-02979da95f7a" type="video/mp4"/>-->
  <!--</video>-->

  <p>
   <aps-upload-file></aps-upload-file>
 </p>
</div>
