<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body ng-app="MyApp" layout="column" ng-cloak="" class=".md-body-2" ng-controller="mainController">
    <!--
      Your HTML content here
    -->
    <div ng-controller="MenuCtrl">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2 flex md-truncate>Prueba de diseño</h2>
        <span>
        <md-button class="md-accent md-raised" ng-click="showPrompt($event)">
          iniciar sesión
        </md-button>
      </span>
      </div>

    </md-toolbar>

    <div class="container" layout="row" flex>
      <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Barra navegación izquierda</h1>
        </md-toolbar>
        <md-content layout-padding>
          <md-list>
            <md-list-item ng-click="redirect('')">Inicio</md-list-item>
            <md-list-item ng-click="redirect('contacto')">Contacto</md-list-item>
            <md-list-item ng-click="redirect('login')">Log in</md-list-item>
          </md-list>
          <md-button class="md-accent" ng-click="toggleLeft()">
            Ocultar
          </md-button>
        </md-content>
      </md-sidenav>
      <md-content layout-padding class="content-text">
        <div ng-view id="popupContainer"></div>
      </md-content>
    </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
    <script src="js/svg-assets-cache.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/MenuController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/ContactController.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCbK3apehK59jNYu0i2bKBg5HBdQA8p9dg",
        authDomain: "pruebaangularmaterial.firebaseapp.com",
        databaseURL: "https://pruebaangularmaterial.firebaseio.com",
        projectId: "pruebaangularmaterial",
        storageBucket: "pruebaangularmaterial.appspot.com",
        messagingSenderId: "777424997909"
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>
